<h2>Search Books</h2>
<form action="/books" method="GET">
  <div>
    <label>Title</label>
    <input type="text" name="title"
      value="<%= searchOptions.title %>">
    <button type="submit">Search</button>
  </div>
  <div>
    <label>Published After</label>
    <input type="text" name="publishedAfter"
      value="<%= searchOptions.publishedAfter %>">
    <button type="submit">Search</button>
  </div>
  <div>
    <label>Published Before</label>
    <input type="text" name="publishedBefore"
      value="<%= searchOptions.publishedBefore %>">
    <button type="submit">Search</button>
  </div>
</form>
<div>
<% books.forEach(book => { %>
  <a href="/books/<%= book.id %>">
    <img height="150" widht="100" src="<%= book.coverImagePath %>">
  </a>
<% }) %>
</div>
